[tool.black]
line-length = 79
target-version = ['py37']
include = '\.pyi?$'

[tool.poetry]
name = "thumbor_aws"
version = "0.4.2"
authors = ["Bernardo Heynemann <heynemann@gmail.com>"]
description = "thumbor_aws provides extensions for thumbor using AWS"
readme = "README.md"
license = "MIT"
keywords = ["imaging", "face", "detection", "feature", "thumbnail", "imagemagick", "pil", "opencv"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Multimedia :: Graphics :: Presentation",
]

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
thumbor = "^7.0.0"
aiobotocore = "^2.0.0"
pycurl = "^7.44.1"
deprecated = "^1.2.13"

[tool.poetry.dev-dependencies]
pre-commit = "^2.17.0"
coverage = "^6.3.2"
flake8 = "^4.0.1"
isort = "^5.10.1"
preggy = "^1.4.4"
pylint = "^2.4.4"
pytest = "^7.1.2"
pytest-asyncio = "^0.18.3"
pytest-cov = "^3.0.0"
pytest-tldr = "^0.2.1"
pytest-xdist = "^2.5.0"
yanc = "^0.3.3"
pyssim = "^0.4.0"
scipy = "^1.7.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
