[tool.black]
line-length = 79
target-version = ['py37']
include = '\.pyi?$'

[tool.poetry]
name = "thumbor_aws"
version = "0.6.0"
authors = ["Bernardo Heynemann <heynemann@gmail.com>"]
description = "thumbor_aws provides extensions for thumbor using AWS"
readme = "README.md"
license = "MIT"
keywords = ["imaging", "face", "detection", "feature", "thumbnail", "imagemagick", "pil", "opencv"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
    "Topic :: Multimedia :: Graphics :: Presentation",
]

[tool.poetry.dependencies]
python = ">=3.7,<3.12"
thumbor = "^7"
aiobotocore = "^2.0.0"
pycurl = "^7.44.1"
deprecated = "^1.2.13"

[tool.poetry.dev-dependencies]
pre-commit = "^2.17.0"
coverage = "^7.0.0"
flake8 = "^4.0.1"
isort = "^5.11.4"
preggy = "^1.4.4"
pylint = [
    { version = "^2.13.8", python = "3.7"},
    { version = "^2.15.8", python = ">3.8"}
]
pytest = "^7.4.1"
pytest-asyncio = "^0.20.3"
pytest-cov = "^4.1.0"
pytest-tldr = "^0.2.5"
pytest-xdist = "^3.3.1"
yanc = "^0.3.3"
pyssim = "^0.4.0"
numpy = [
    { version = "1.21.0", python = "3.7"},
    { version = "^1.23.5", python = ">3.8"}
]
scipy = [
    { version = "1.7.3", python = "3.7"},
    { version = "^1.9.3", python = ">3.8"}
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
