name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image-tag:
          - 37
          - 38
          - 39
          - 310
    # container: thumbororg/thumbor-test:${{ matrix.image-tag }}
    steps:
      - uses: actions/checkout@v2
      - name: APT Update
        run: sudo apt-get update -y
      - name: APT Install
        run: sudo apt-get install -y python3-dev libcurl4-openssl-dev libgnutls28-dev python3-all-dev make zlib1g-dev gcc libssl-dev build-essential
      - name: Setup
        run: make setup
      - name: Run Unit Tests
        run: make ci
				env:
					# Only used for satisfying boto
					AWS_ACCESS_KEY_ID=foobar
					AWS_SECRET_ACCESS_KEY=foobar
      - name: Lint
        run: make flake pylint
      - name: Coveralls
        if: matrix.image-tag == '310'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install --upgrade coveralls
          coveralls --service=github

