---
name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image-tag:
          - 7
          - 8
          - 9
          - 10
    # container: thumbororg/thumbor-test:${{ matrix.image-tag }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.{{ matrix.image-tag }}
          architecture: x64
      - name: Code Climate Before Build
        if: matrix.image-tag == '10'
        env:
          code_climate_token: ${{ secrets.CODE_CLIMATE_TOKEN }}
        run: |-
          curl -L -O https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
          chmod +x test-reporter-latest-linux-amd64
          ./test-reporter-latest-linux-amd64 before-build
      - name: APT Update
        run: sudo apt-get update -y
      - name: APT Install
        run: sudo apt-get install -y python3-dev libcurl4-openssl-dev libgnutls28-dev
          python3-all-dev make zlib1g-dev gcc libssl-dev build-essential
      - name: Create Virtualenv
        run: python3 -m venv thumbor-aws
      - name: Activate Virtualenv
        run: source ./thumbor-aws/bin/activate
      - name: Setup
        run: make setup
      - name: Run Unit Tests
        run: make ci
        env:
          # Only used for satisfying boto
          AWS_ACCESS_KEY_ID: foobar
          AWS_SECRET_ACCESS_KEY: foobar
      - name: Lint
        run: make flake pylint
      - name: Coveralls
        if: matrix.image-tag == '10'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install --upgrade coveralls
          coveralls --service=github
      - name: Code Climate After Build
        if: matrix.image-tag == '10'
        env:
          code_climate_token: ${{ secrets.CODE_CLIMATE_TOKEN }}
        run: |-
          ./test-reporter-latest-linux-amd64 after-build -t cobertura --exit-code 0 -r ${code_climate_token}
